.intro {
  padding: 0 442px 92px 148px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 286px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24;
    padding-bottom: 88;
  }
}
