.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  opacity: 1;
  transition: 0.5s;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
  transition: 0.5s;
  color: #FFFFFF;
  /* color: #AAAAAA; */
}
