@import url(../vendor/normalize.css);
@import url(../vendor/inter.css);
/* сверху подключение файла стилей со шрифтами и файла стилей normalize, директивой @import к index.css */
@import url(../blocks/cards/cards.css);

/* сверху подключение стилей для всех блоков, директивой @import, к index.css на страницу pages */

/* .flex-row {
  display: flex;
}
/* Сверху создали универсальный контейнер flex-box */

/* .flex-column {
  display: flex;
  flex-direction: column;
} */

/*. {
  box-sizing: border-box;
}*/
/* сверху задали внутренний фокус элемента, чтобы контейнер не расширялся */
