.place {
  margin: 0;
  padding-bottom: 80px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  /* border: 1px solid red; */
}

.place:nth-last-of-type(1) {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}
